[Unit]
Description=gunicorn daemon
After=network.target
[Service]
User=django
Group=www-data
WorkingDirectory=/home/django/BestJob_Django/BestJob
ExecStart=/home/django/BestJob_Django/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/django/BestJob_Django/BestJob/BestJob.sock BestJob.wsgi
[Install]
WantedBy=multi-user.target
